<!-- src/app/MyComponents/welcome-page/welcome-page.component.html -->
<div class="welcome-container">
  <img src="assets/Logo.png" alt="BlogVault Logo" class="logo">
    <h1>Welcome to BlogVault!</h1>
    <p>Welcome to BlogVault, your ultimate destination for sharing and exploring a world of ideas and stories. Whether you're a seasoned writer or just getting started, BlogVault offers a vibrant community where you can publish your thoughts on any topic you're passionate about.</p>
    <ul>
      <li><strong>Write and Publish:</strong> Craft your blog posts with our easy-to-use editor. Share your unique perspectives, experiences, and expertise with a global audience.</li>
      <li><strong>Explore and Discover:</strong> Dive into a diverse collection of blogs on a wide range of topics. From tech trends to personal narratives, there's something for everyone.</li>
      <li><strong>Rate and Review:</strong> Engage with other writers by reading and rating their blogs. Share your feedback and help create a supportive community.</li>
      <li><strong>Personalized Experience:</strong> Tailor your reading and writing journey with personalized recommendations and an intuitive interface.</li>
  </ul>
  <p>Join BlogVault today and become part of a thriving community where every voice matters. Unleash your creativity, inspire others, and make your mark in the blogosphere!</p>
    <button (click)="goToBlogView()">Get Started</button>
  </div>
  